# Packages
node_modules/

# Log files
logs/
*.log
npm-debug.log*

# Runtime data
pids/
*.pid
*.seed

# Distribution
dist/

# Temporary files
.tmp/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
.turbo
.npmrc
tsconfig.tsbuildinfo
bin/

# Yarn
.pnp.*
.yarn/

# Cache
.prettiercache
.eslintcache
